<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook soc"></i>
            <i class="fa-brands fa-square-instagram soc"></i>
            <i class="fa-brands fa-linkedin soc"></i>
        </div>

        <div class="f-info-brand">
            &copy; HomiGo Private Limited
        </div>

        <div class="f-info-links">
            <a class="a" href="/privacy">Privacy</a>
            <a class="a" href="/terms">Terms</a>
        </div>

    </div>
   

</footer>